li
    a(href='../pro') Pro
li.uk-active
    a(href='../docs/') Documentation
li
    a(href='../changelog') Changelog
a.uk-navbar-toggle.uk-navbar-toggle-icon.uk-icon(uk-navbar-toggle-icon='' href='#offcanvas' uk-toggle='' class='uk-hidden@m')
            