include ./login
header.uk-background-primary.uk-light
    nav.uk-navbar.uk-container
        .uk-navbar-left
            a.uk-navbar-item.uk-logo(href='../')
                img.uk-margin-small-right( src=require('../../assets/img/logo.svg') )
        .uk-navbar-right
            ul.uk-navbar-nav(class='uk-visible@m')
                include ./base/menu