.uk-position-relative
    nav.uk-navbar
        .uk-navbar-left
            a.uk-navbar-item.uk-logo(href='../')
            
                img.uk-margin-small-right(uk-svg='' src=require('assets/img/logo.png') hidden='true')
        .uk-navbar-right
            ul.uk-navbar-nav(class='uk-visible@m')
                include ./base/menu
            
            