section
    .uk-container
        .uk-child-width-1-2.uk-grid-collapse.uk-padding-small(uk-grid='')
            div
                form.uk-child-width-expand.uk-grid-collapse(action="", method="get" uk-grid="")
                    div
                        input.uk-input(type='text' placeholder='CPF/e-mail')
                    div
                        input.uk-input(type='text' placeholder='Senha')
                    div
                        button.entrar.uk-button.uk-button-primary Entrar
            div
                .uk-child-width-1-2.uk-text-center(uk-grid='')
                    div.uk-text-right
                        button.uk-button.uk-button-primary.criar-conta Criar sua conta
                    div.uk-flex.uk-flex-middle
                        p
                            span.uk-margin-small-right(uk-icon='icon: receiver;ratio: 1.5')
                            |(31) 4040-0000